.App {
  text-align: center;
  font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
  height: 100vh;
}

.App-header {
  background-color: #fff;
  display: flex;
  color: #F56400;
  font-weight: 700;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  font-size: -webkit-calc(10px + 1vmin);
  font-size: -moz-calc(10px + 1vmin);
  border-bottom: 2px solid #F56400;
  line-height: 0.3;
}

h2 {
  margin: 0 auto;
}


/*infowindow*/
.gm-style-iw button {
  margin-right: 10px !important;
  margin-top: 10px !important;
}


#modalContent {
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  max-width: none;
}

#modalContent #info-content img {
  max-width: 100px;
  max-height: 100px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 2px;
}

#info-content {
  text-align: left;
  font-size: 15px;
}

#info-content img {
  text-align: left;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.infoImageAddress {
  margin-right: '20px';
}

/* tooltip first sale */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

