.App {
  text-align: center;
  font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
  height: 100vh;
}

.App-header {
  background-color: #fff;
  display: flex;
  color: #F56400;
  font-weight: 700;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  font-size: -webkit-calc(10px + 1vmin);
  font-size: -moz-calc(10px + 1vmin);
  border-bottom: 2px solid #F56400;
  line-height: 0.3;
}

h2 {
  margin: 0 auto;
}


/*infowindow*/
.gm-style-iw button {
  margin-right: 10px !important;
  margin-top: 10px !important;
}


#modalContent {
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  max-width: none;
}

#modalContent #info-content img {
  max-width: 100px;
  max-height: 100px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 2px;
}

#info-content {
  text-align: left;
  font-size: 15px;
}

#info-content img {
  text-align: left;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.infoImageAddress {
  margin-right: '20px';
}

.laura-header {
  width: 95%;
  margin-top: 15px;
  margin-right: 13px;
  color: #000000;
  font-size: 48px;
  background: #d7e6f5;
  border-radius: 8px;
  text-align: center;
  font-family: "Guardian-EgypTT", Charter
}

.first-sale-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 48px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}


.bounce-text-2 {
  font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
  font-weight: 700;
  animation: bounce2 0.5s infinite, changeColor2 6s infinite;
}

@keyframes bounce2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes changeColor2 {
  0%, 100% {
    color: black;
  }
  50% {
    color: #F56400;
  }
}

