#map {
  width: 100%
}

.App {
  text-align: center;
  font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px solid #F56400
}
/*  background-color: #FDE0CC;;*/


/*infowindow*/
.gm-style-iw button {
  margin-right: 10px !important;
  margin-top: 10px !important;
}

#modalContent {
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  max-width: none;
}

#modalContent #info-content img {
  max-width: 100px;
  max-height: 100px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 2px;
}

#info-content {
  text-align: left;
  font-size: 15px;
}

#info-content img {
  text-align: left;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.infoImageAddress {
  margin-right: '20px';
}


